<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>发表留言</title>
<meta name="keywords" content="free template, contact,  ecommerce" />
<meta name="description" content=" Contact Form, Location Maps, Addresses, free template for ecommerce websites." />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="css/orman.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />

<link rel="stylesheet" type="text/css" href="css/ddsmoothmenu.css" />

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js"></script>

<!-- 引入vue -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}

</script>


</head>

<body>

<div id="templatemo_wrapper_sp">
<div id="templatemo_header_wsp">
	<div id="templatemo_header" class="header_subpage">
    	<div id="site_title"><a  rel="nofollow"></a></div>
        <div id="templatemo_menu" class="ddsmoothmenu">
            <ul>
                <li><a href="index.html">主页</a></li>
                <li><a href="clist.html#1" >商品分类</a></li> 
                <!--class="selected"  -->
                <li><a href="shoppingcart.html" >购物车</a></li>
                <li><a href="checkout.html">支付</a></li>
                <li><a href="topic.html">留言板</a></li>
               	<li><a href="contact.html">联系我们</a></li>
               	<li><a href="olist.html">个人订单</a></li>
               
                <li id="headerLogin" class="headerLogin"
						style="display: list-item;">
						<a href="login.html" v-if=" user==''">登录</a>
						<a v-if="user!=null" href="myself.html">{{user.name}}</a>|
				</li>
				
				<li id="headerRegister" class="headerRegister"
						style="display: list-item;"><a @click="logout()">退出</a>|</li>
                
                
            </ul>
           
            <br style="clear: left" />
        </div>


    </div> <!-- END of header -->
    
     <script type="text/javascript">
			var v5= new Vue({
				el:"#templatemo_header",
				data:{
					user:{},
			        flo:[]
				},
				created(){
					axios.get("getLoginedUser").then(res=>{
						this.user = res.data;
					});
					
				},
				methods:{
					logout(){
						if(confirm("确定要退出登录?")){
							axios.get("out.s").then(res=>{
								alert(res.data.msg);
								location.href = "index.html";
							});
						}
					}
				}
			})
		
		
		</script>
    
    
</div> <!-- END of header wrapper -->
<div id="templatemo_main_wrapper">
<div id="templatemo_main">
	<div id="sidebar" class="left">
    	<div class="sidebar_box"><span class="bottom"></span>
            <h3>鲜花用途</h3>   
            <div class="content"> 
                <ul class="sidebar_list">
                    <li><a href="#">爱情鲜花</a></li>
                    <li><a href="#">生日鲜花</a></li>
                    <li><a href="#">友情鲜花</a></li>
                    <li><a href="#">问候长辈</a></li>
                    <li><a href="#">探病慰问</a></li>
                    <li><a href="#">道歉鲜花</a></li>
                    <li><a href="#">祝贺鲜花</a></li>
                    <li><a href="#">婚庆鲜花</a></li>
                    <li><a href="#">商务鲜花</a></li>
                </ul>
            </div>
        </div>
        <div id="fdiscount">
			<span class="bottom"></span>
			<h1 align="center">每周特价</h1>
			<div class="content special">
				<a :href="'productdetail.html#'+flower.fid"> 
					<img :src="flower.image"  style="width:165px;height:120px;"/>
				</a>
				{{flower.fname}}
				<p>
					Price: <span class="price normal_price">${{flower.marketPrice}}</span>&nbsp;&nbsp;
					<span class="price special_price">${{flower.shopPrice}}</span>
				</p>
			</div>
		</div>
		<script>
		var v3=  new Vue({
			el : "#fdiscount",
			data :{
				flower:{}
			},
			created(){
				axios.get("queryDiscount").then(res=>{
					this.flower = res.data;
				});
			}
		})
        </script>
    </div>
    
    <div id="content" class="right">
		<h2>留言</h2>
        <div class="cleaner h40"></div>
        <div>
           <form id="fcontent" method="post" name="contact" action="#">
           		<div id="col131" class="col col13">
                    <label for="name">名称:</label> <br />
              		<input v-model="user.name" name="name" type="text" type="text" readonly value="name" class="input_field" id="name" maxlength="40"/> <br />
                	<div class="cleaner h10"></div>
                    <label for="email">Email:</label>  <br />
          			<input v-model="user.email" name="email" type="text" type="text" readonly value="email" class="required input_field" id="email" maxlength="40" /> <br />
                	<div class="cleaner h10"></div>
                    <label for="phone">电话:</label>  <br />
        			<input v-model="user.phone" name="phone" type="text" type="text" readonly value="phone" class="input_field" id="phone" maxlength="20" /> <br />
                	<div class="cleaner h10"></div>
			 	</div>
                <div id="col231" class="col col23 no_margin_right">
                    <label for="name">鲜花编号:</label> <br />
              		<input v-model="flower.fid" name="name" type="text" type="text" readonly value="name" class="input_field" id="name" maxlength="40"/> <br />
                	<label for="name">鲜花名称:</label> <br />
              		<input v-model="flower.fname" name="name" type="text" type="text" readonly value="name" class="input_field" id="name" maxlength="40"/> <br />
                	<label for="message">留言:</label> <br />
                    <textarea v-model="content" id="message" name="message" rows="0" cols="0" class="required" style="width:420px;height:100px"></textarea>
                    <div class="cleaner h10"></div>
                    <input type="button" @click="addMsg()" class="submit_btn left" name="submit" id="submit" value="发送" />
                    <input type="reset" class="submit_btn submit_right" name="reset" id="reset" value="重置" />
                </div>
            </form>
            <script type="text/javascript">
            var vue3 = new Vue({
            	el : "#fcontent",
            	data : {
            		user : {
            			name : "",
            			email : "",
            			phone : ""
            		},
            		content : "",
            		flower : {}
            	},
            	created(){
            		axios.get("getLoginedUser").then(res=>{
            			if(res.data && res.data.uid){
            				this.user = res.data;
            				if(location.hash.substring(1)>0){
            					axios.get("queryFlowerById?fid="+location.hash.substring(1)).then(res=>{
                					this.flower = res.data;
                				});
            				}else{
            					alert("你还没有选择鲜花");
            					location.href = "index.html";
            				}
            			} else {
            				alert("你还没有登录");
            				location.href = "login.html";
            			}
    				});
            	},
            	methods : {
            		addMsg(){
            			var params = new URLSearchParams();
            			params.append("content",this.content);
            			params.append("uid",this.user.uid);
            			params.append("fid",this.flower.fid);
           			  	axios.post("addMsg",params).then(res=>{
           					alert(res.data.msg);
           					if(res.data.code == 1){
           						location.href = "topic.html";
           					}else{
           						location.href = "index.html";
           					}
           					
           			  	});
            		}
            	}
            });
            
            </script>
        </div>
        
        <div class="cleaner h40"></div>        
        <div class="blank_box">
        	<a href="#"><img src="images/free_shipping.jpg" alt="Free Shipping" /></a>
        </div>  
        <div class="cleaner"></div>  
    </div>
    <div class="cleaner"></div>
</div> <!-- END of main -->
</div> <!-- END of main wrapper -->

<div id="templatemo_footer_wrapper">
<div id="templatemo_footer">
	<div class="footer_left">
    	<a href="#"><img src="images/1311260370_paypal-straight.png" alt="Paypal" /></a>
        <a href="#"><img src="images/1311260374_mastercard-straight.png" alt="Master" /></a>
        <a href="#"><img src="images/1311260374_visa-straight.png" alt="Visa" /></a>
    </div>
	<div class="footer_right">
	</div>
    <div class="cleaner"></div>
</div> <!-- END of footer -->
</div> <!-- END of footer wrapper -->
</div>

</body>
</html>